<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'compolls/compolls.css' %}">
  <title>Question</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Community Polls</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">

  <br>
  <form>
    <div class="form-group">
      <label for="name-input">Enter the name you want to use for voting</label>
      <input type="text" class="form-control" id="name-input" placeholder="Name" aria-label="Name"
        aria-describedby="button-addon2" required>
    </div>
    <button class="btn btn-dark" id="btn-save-name">Save</button>
  </form>
  <br>
  <span id="chosen-name"></span>
  <br>
  <br>
  <br>

  <h2 class="question">{{question.question_text}}</h2>
  <div class="container">
    <div class="row row-cols-2">
      <div class="col" align="center">
        <img src="{% static "compolls/elon_musk.jpg" %}" class="choice-image rounded"><br>
        {{choice_a.choice_text}}
        <br>
        <button id="{{ choice_a.id }}" onclick="ajax_vote(this.id)" class="btn btn-dark">Vote</button><br><br>
      </div>
      <div class="col" align="center">
        <div class="choice-block">
          <img src="{% static "compolls/steve_jobs.jpg" %}" class="choice-image rounded"><br>
          {{choice_b.choice_text}}
          <br>
          <button id="{{ choice_b.id }}" onclick="ajax_vote(this.id)" class="btn btn-dark">Vote</button><br><br>
        </div>
      </div>
      <div class="col" align="center">
        List of voters A: 
        <ul id="list_choice_a"></ul>
      </div>
      <div class="col" align="center">
        List of voters B: 
        <ul id="list_choice_b"></ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <ul>
    <li>{{choice_a.choice_text}}</li>
    <!-- <form action="{% url 'covidpolls:get_parent_preferences' %}" method="post"> -->

    <ul>
      {% for voter in choice_a.voters.all %}
      <li>{{voter}}</li>
      {% endfor %}
    </ul>
    <li>{{choice_b.choice_text}}</li>
    <ul>
      {% for voter in choice_b.voters.all %}
      <li>{{voter}}</li>
      {% endfor %}
    </ul>
  </ul>

</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="{% static 'compolls/compolls.js' %}"></script>
</body>

</html>