h2.question {
    text-align: center;
}

#enter-your-name {
    text-align: center;
}

img.choice-image {
    height: auto;
    max-width: 100%;
}

div.choice-block {
    position: absolute;
    bottom: 0;
}

.green-text {
    color: green;
}

