<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>COVID survey</title>
</head>
<body>

<div class="container">
    {% load static %}
    <nav class="navbar navbar-light bg-light">
        <img src="{% static "covidpolls/22024-covid-19_product-pg.svg" %}" width="200" height="75" class="d-inline-block align-top" alt="">
        <h1>Outil de planification</h1>
    </nav>
    <br>
    La reprise des services de garde éducatifs à l’enfance s’effectuera selon les recommandations des autorités de santé publique du Québec. Cet outil de planification n’est pas une entente de services de garde ou une autre forme de contrat. Il n’a pas de valeur juridique. Il ne constitue pas un engagement de la part du prestataire de services de garde à recevoir un enfant. Il ne constitue pas un engagement de la part du parent à confier son enfant au prestataire de services de garde ou à payer des frais de garde. Les renseignements qu’il contient sont donnés à titre indicatif seulement et demeurent sujets à changement.
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="{% url 'covidpolls:get_parent_preferences' %}" method="post">
                    {% csrf_token %}
                    {% if form.subject.errors %}
                    <ol role="alertdialog">
                        {% for error in form.subject.errors %}
                        <li role="alert"><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ol>
                    {% endif %}

                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button><br><br>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>